deps/
deps.clean*/
.vscode/
.idea/
.cmake/
cmake-build-*/
.ninja*
*.ninja
Testing/
CMakeFiles/
build/
Makefile
*.a
CMakeCache.txt
default.profraw
CTestTestfile.cmake
cmake_install.cmake
src/lib/nimble-minimal-example
